.card {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    color: black;
    margin: 10px;
    padding: 20px;
    border: 1px solid black;
    /* max-width: 50%; */
    border-radius: 10px;
}

h4, h6 {
    color: darkgrey
}

.id-label {
    color: darkgrey;
    font-size: 12px;
}

.metric-name-label {
    color: darkgrey
}

.card-full-name {
    color: darkgrey
}

.result-label {
    color: darkgrey
}

.card-id {
    margin-top: -20px;
}

.card-name {
    
}

.card-full-name {
    
}

.card-result {
    
}

hr {
    border: 1px solid lightgrey;
    margin-top: 20px;
    margin-bottom: -20px;
}

.variable-name-metric, .result-metric, .variable-full-name-metric {
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    margin-top: -20px;
}

.id-metric {
    margin-top: -15px;
    font-size: 12px;
}

.variable-name-metric {
    
}

.variable-full-name-metric {
    
}

.result-metric {
    
}